@import "../fonts/fonts.css";
/* =======================================================
*
* 	Template Style 
*
* ======================================================= */
body {
  font-family: "Cormorant Garamond", Arial, serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.7;
  color: #828282;
  background: #fff;
}

a {
  color: #f3e1e7;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
  text-decoration: none;
}
a:hover, a:active, a:focus {
  color: #f3e1e7;
  outline: none;
  text-decoration: none;
}

p {
  margin-bottom: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6,
figure {
  color: #000;
  font-family: "Cormorant Garamond", Arial, serif;
  font-weight: 400;
  margin: 0 0 20px 0;
}

::-webkit-selection {
  color: #fff;
  background: #f3e1e7;
}

::-moz-selection {
  color: #fff;
  background: #f3e1e7;
}

::selection {
  color: #fff;
  background: #f3e1e7;
}

ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}

.section-padding {
  padding-top: 6em;
  padding-bottom: 6em;
}

.section-title {
  text-align: center;
  padding-bottom: 20px;
  position: relative;
  font-family: "Cormorant Garamond", Arial, serif;
  text-transform: capitalize;
}
.section-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1.5px;
  width: 80px;
  background-color: #f3e1e7;
  right: 0;
  margin: 0 auto;
}

.text-right {
  text-align: right;
}

.page-hero-image {
  position: relative;
  margin-top: -140px;
}
.page-hero-image .page-image {
  height: 700px;
}
.page-hero-image .page-image img {
  max-width: 100%;
}

.navigation-wrapper {
  font-weight: bold;
  z-index: 2;
  position: fixed;
  top: 0;
  width: 100%;
}
.navigation-wrapper .logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 10px;
}
.navigation-wrapper .logo-wrapper img {
  max-height: 50px;
}
.navigation-wrapper .nav-wrapper {
  width: 100%;
  margin-right: -15px;
  margin-top: 20px;
}
.navigation-wrapper .nav-wrapper ul {
  width: 70%;
  margin: 0 auto;
  justify-content: space-evenly;
}
.navigation-wrapper .nav-wrapper ul li {
  padding: 0 2em;
}
.navigation-wrapper .nav-wrapper ul li.icon-nav img {
  max-width: 15px;
  margin-right: 5px;
}
.navigation-wrapper .nav-wrapper ul li a {
  color: #ffffff;
  font-weight: 400;
  border: solid 1px;
  background: rgba(0, 0, 0, 0.2);
  font-size: 24px;
  font-family: "Cormorant Garamond", Arial, serif;
  display: block;
  padding: 7px 30px;
  transition: all 3s ease-in;
}
.navigation-wrapper .nav-wrapper ul li a:hover {
  text-decoration: underline;
  transition: all 3s ease-out;
  color: "Alex Brush", serif;
}

#home-section.page-hero-image .page-image {
  background: url(../images/banner-1.jpg) center top no-repeat;
  background-size: cover;
}

#footer-section {
  padding: 1em 0;
  background: #000000;
}
#footer-section .copyright .block {
  display: block;
}
#footer-section .copyright p {
  color: #ffffff;
  margin-bottom: 0;
}

#event-section .event-content img {
  width: 100%;
  height: auto;
}
#event-section .event-title {
  padding-top: 10px;
}

#rsvp-section {
  background: #faf4f5;
}
#rsvp-section h2 {
  color: #000;
}
#rsvp-section p {
  color: rgba(0, 0, 0, 0.5);
}
#rsvp-section .form-control {
  background: rgba(225, 225, 225, 0.2);
  color: #000000;
  font-size: 16px !important;
  width: 100%;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border: solid 1px rgba(0, 0, 0, 0.2);
}
#rsvp-section .form-control:focus {
  background: rgba(225, 225, 225, 0.3);
  box-shadow: none !important;
  border: solid 1px #000;
}
#rsvp-section .btn {
  height: 54px;
  border: none !important;
  background: #f3e1e7;
  color: #000;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 400;
  padding-left: 50px;
  padding-right: 50px;
}
#rsvp-section .form-group {
  width: 100% !important;
  margin-bottom: 20px;
}

#gallery-section {
  padding-bottom: 30px;
  position: relative;
  width: 100%;
  align-items: center;
  justify-content: center;
}
#gallery-section .gallery-title {
  text-align: center;
  color: #000;
  font-size: 50px;
  font-family: "Cormorant Garamond", Arial, serif;
  text-transform: capitalize;
}
#gallery-section .gallery-content img {
  width: 100%;
  height: 360px;
  padding-top: 25px;
}

#story-section h2 {
  font-family: cursive;
  font-size: 50px;
  color: #f704ce;
}
#story-section .timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}
#story-section .timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 1px;
  background-color: #d4d4d4;
  left: 50%;
  margin-left: 0px;
}
#story-section .timeline > li {
  margin-bottom: 20px;
  position: relative;
}
#story-section .timeline > li:before, #story-section .timeline > li:after {
  content: " ";
  display: table;
}
#story-section .timeline > li:after {
  clear: both;
}
#story-section .timeline > li > .timeline-panel {
  width: 40%;
  float: left;
  border: 1px solid #d4d4d4;
  padding: 30px;
  position: relative;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
#story-section .timeline > li > .timeline-panel:before {
  position: absolute;
  top: 80px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
}
#story-section .timeline > li > .timeline-panel:after {
  position: absolute;
  top: 81px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}
#story-section .timeline > li > .timeline-badge {
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;
  color: #fff;
  width: 160px;
  height: 160px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 50%;
  margin-left: -80px;
  background-color: #999999;
  z-index: 100;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
#story-section .timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}
#story-section .timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
#story-section .timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
#story-section .timeline-title {
  margin-top: 0;
}
#story-section .date {
  display: block;
  margin-bottom: 20px;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
#story-section .timeline-body img {
  width: 100%;
  height: auto;
}
#story-section .timeline-body > p,
#story-section .timeline-body > ul {
  margin-bottom: 0;
}
#story-section .timeline-body > p + p {
  margin-top: 5px;
}

/*# sourceMappingURL=style.css.map */
