#couple-section {
  padding-top: 3em;
  padding-bottom: 3em;
  .groom-bride {
    .groom-bride-image {
      img {
        width: 100%;
      }
    }
  }
  .no-padding {
    padding: 0px;
  }
  .groom-bride-profile {
    font-size: 12px;
    text-align: justify;
  }
  .desc-groom {
   padding: 10px;
  }
  .pink-bg {
    background-color: $brand-pink;
  }
}
