#gallery-section {
  padding-bottom: 30px;
  position: relative;
  width: 100%;
  align-items: center;
  justify-content: center;
  .gallery-title {
    text-align: center;
    color: #000;
    font-size: 50px;
    font-family: $font-primary;
    text-transform: capitalize;
  }

  .gallery-content {
    img {
      width: 100%;
      height: 360px;
      padding-top: 25px;
    }
  }
}
