// COUPLE
.couple-wrap {
  width    : 70%;
  margin   : 0 auto;
  position : relative;
  display  : flex;
  flex-wrap: wrap;

  @media screen and (max-width: 767px) {
    width: 100%;
  }
}

.heart {
  position : absolute;
  top      : 4em;
  left     : 0;
  right    : 0;
  z-index  : 99;
  animation: pulse 1s ease infinite;

  i {
    font-size : 20px;
    background: $brand-white;
    padding   : 20px;
    color     : $brand-primary;
    @include border-radius(50%);
  }

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.couple-half {
  width : 50%;
  margin: auto;

  @media screen and (max-width: 767px) {
    width: 100%;
  }

  h5 {
    font-family: $font-primary;
    color      : $brand-black;
    font-size  : 30px;
    text-align: center;
    margin-top: 15px
  }

  .groom,
  .bride {
    @include border-radius(50%);
    // overflow: hidden;
    // margin-left: 5px;
    width : 150px;
    height: 150px;

    img {
      width : 150px;
      height: 150px;
      @include border-radius(50%);
    }

    @media screen and (max-width: 767px) {
      width : 100%;
      height: 140px;

      img {
        width : 120px;
        height: 120px;
        margin: 0 auto;
      }
    }
  }

  .groom,
  .bride {
    margin: 0 auto;
  }

  .desc-groom .desc-bride {
    margin-top: 10px;
    text-align: center;
  }
  
  .groom {
    background         : url(../images/groom.jpg);
    background-position: center;
    background-repeat  : no-repeat;
    background-size    : cover;
    height             : 150px;
    width              : 150px;
  }

  .bride {
    background         : url(../images/bride.jpg);
    background-position: top;
    background-repeat  : no-repeat;
    background-size    : cover;
    height             : 150px;
    width              : 150px;
  }
}