#rsvp-section {
  position: relative;
  padding : 7em 0;

  h2 {
    color: $brand-black;
  }

  p {
    color: rgba($brand-black, 0.5);
  }

  .form-control {
    background: rgba(225, 225, 225, 0.2);
    border    : none !important;
    color     : #000000;
    font-size : 16px !important;
    width     : 100%;
    @include transition(0.5s);

    &:focus {
      background: rgba(225, 225, 225, 0.3);
      box-shadow: none !important;
    }
  }

  .btn {
    height        : 54px;
    border        : none !important;
    background    : $brand-primary;
    color         : $brand-black;
    font-size     : 16px;
    text-transform: uppercase;
    font-weight   : 400;
    padding-left  : 50px;
    padding-right : 50px;
  }

  .form-group {
    width        : 100% !important;
    margin-bottom: 20px;

    .form-control {
      width: 100%;
    }
  }

}