@import "../fonts/fonts.css";
/* =======================================================
*
* 	Template Style 
*
* ======================================================= */
body {
  font-family: "Cormorant Garamond", Arial, serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.7;
  color: #828282;
  background: #fff;
}

a {
  color: #f3e1e7;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
  text-decoration: none;
}
a:hover, a:active, a:focus {
  color: #f3e1e7;
  outline: none;
  text-decoration: none;
}

p {
  margin-bottom: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6,
figure {
  color: #000;
  font-family: "Cormorant Garamond", Arial, serif;
  font-weight: 400;
  margin: 0 0 20px 0;
}

::-webkit-selection {
  color: #fff;
  background: #f3e1e7;
}

::-moz-selection {
  color: #fff;
  background: #f3e1e7;
}

::selection {
  color: #fff;
  background: #f3e1e7;
}

ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}

.section-padding {
  padding-top: 6em;
  padding-bottom: 6em;
}

.section-title {
  text-align: center;
  padding-bottom: 20px;
  position: relative;
}
.section-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1.5px;
  width: 80px;
  background-color: #f3e1e7;
  right: 0;
  margin: 0 auto;
}

.desktop-nav {
  border-top: 0;
  padding: 10px 0 10px;
  text-transform: uppercase;
  font-size: 14px;
  background-color: #fff;
  border-top: 1px solid #bebebe;
  border-bottom: 1px solid #bebebe;
  position: relative;
  position: sticky;
  top: 0;
  z-index: 999;
  letter-spacing: 1.5px;
}
.desktop-nav ul li {
  padding: 0 30px;
  position: relative;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.desktop-nav ul li:hover, .desktop-nav ul li.active {
  background-color: #f3e1e7;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.desktop-nav ul li.has-submenu .desktop-nav__submenu {
  margin-top: 0;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #f3e1e7;
  padding: 20px 40px 20px 20px;
  min-width: 250px;
  opacity: 0;
  visibility: hidden;
}
.desktop-nav ul li.has-submenu .desktop-nav__submenu li {
  margin-bottom: 15px;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.desktop-nav ul li.has-submenu .desktop-nav__submenu li:hover {
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.desktop-nav ul li.has-submenu .desktop-nav__submenu li:hover a {
  color: #fff;
}
.desktop-nav ul li.has-submenu:hover .desktop-nav__submenu {
  opacity: 1;
  visibility: visible;
}
.desktop-nav ul li a {
  color: #000;
  margin: 18px 0 16px;
  display: block;
}
.desktop-nav .header-logo {
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.desktop-nav .header-logo img {
  max-width: 100%;
  height: 32px;
}

#hero-area .slick-area .slick-item {
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#hero-area .slick-area .slick-item#slide-1 {
  background: url(../images/home-slide1.jpg) center top no-repeat;
  background-size: cover;
}
#hero-area .slick-area .slick-item#slide-2 {
  background: url(../images/home-slide2.jpg) center top no-repeat;
  background-size: cover;
}
#hero-area .slick-area .slick-item#slide-3 {
  background: url(../images/home-slide3.jpg) center top no-repeat;
  background-size: cover;
}
#hero-area .slick-area .slick-item .slide-title {
  font-size: 18px;
  text-align: center;
  background-color: #faf4f5;
  padding: 50px 70px;
  color: #1f1f1f;
  max-width: 500px;
  font-style: italic;
  margin: 0 auto;
}

#gallery-section {
  padding-bottom: 6em;
}
#gallery-section .gallery-item {
  height: 400px;
  background-position: center !important;
  background-size: cover !important;
  border-radius: 10px;
  position: relative;
  -webkit-filter: grayscale(70%);
  filter: 70%;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}
#gallery-section .gallery-item:hover {
  -webkit-filter: grayscale(0%);
  filter: 0%;
}

#client-section {
  background: #faf4f5;
}
#client-section p {
  text-align: center;
}

#work-section .form-group {
  width: 100% !important;
  margin-bottom: 20px;
}
#work-section .btn {
  height: 50px;
  border: none !important;
  background: #f3e1e7;
  color: #000;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 400;
  padding-top: 10px;
}
#work-section .gallery-item {
  height: 400px;
  background-position: center !important;
  background-size: cover !important;
  border-radius: 10px;
  position: relative;
  -webkit-filter: grayscale(70%);
  filter: 70%;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}
#work-section .gallery-item:hover {
  -webkit-filter: grayscale(0%);
  filter: 0%;
}

#contact-section .form-group {
  width: 100% !important;
  margin-bottom: 20px;
}
#contact-section .btn {
  height: 50px;
  border: none !important;
  background: #f3e1e7;
  color: #000;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 400;
  padding-top: 15px;
}

/*# sourceMappingURL=style.css.map */
